.content img {
    max-width: 100%;
    height: auto;
  }
  .content{
    padding-left: '20px';
  }
  .content video {
    max-width: 100%;
    height: '300px';
  }
  .article-subheading{
    font-weight: 600;
  }
  .article-title{
    font-weight: 1000;
  }
  .article-heading{
    font-weight: 800;
  }
  